.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  position: relative;
  margin-top: 50px;
}

.project-card {
  transition: var(--transition);
  cursor: default;

  &:hover {
    .project-inner {
      transform: translateY(-7px);
      border-color: var(--primary-color);
      box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);

      .project-title {
        color: var(--primary-color);
      }
    }
  }
}

.project-inner {
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: 4px;
  background-color: #112240;
  transition: var(--transition);
  border: 1px solid transparent;
}

.project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;

  .folder {
    color: var(--primary-color);
    font-size: 40px;
  }

  .project-links {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--text-dim);

    a {
      padding: 10px;
      color: inherit;
      font-size: 20px;
      transition: var(--transition);

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.project-title {
  margin: 0 0 10px;
  color: var(--text-main);
  font-size: 1.4rem;
  font-family: var(--font-heading);
}

.project-description {
  color: var(--text-dim);
  font-size: 15px;

  p {
    margin: 0;
  }
}

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  color: var(--text-dim);

  li {
    margin-right: 15px;
    margin-bottom: 7px;
  }
}

.more-projects {
  text-align: center;
  margin-top: 80px;
}
