<footer class="footer-section">
  <div class="footer-container">
    <div class="footer-socials" data-aos="fade-up">
      <a href="https://github.com/Krushna8855" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://linkedin.com/in/krushna-ghotekar" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:krishnaghotekar7876@gmail.com"><i class="fas fa-envelope"></i></a>
    </div>
    <div class="footer-content">
      <p>© 2026 Designed & Built by <span>Krushna Ghotekar</span></p>
      <div class="built-with">
        Built with <i class="fab fa-angular"></i> & <i class="fab fa-sass"></i>
      </div>
    </div>
  </div>
</footer>
