<nav class="navbar">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

  <div class="logo">Krushna <span>Portfolio</span></div>

  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/skills">Skills</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li><a routerLink="/experience">Experience</a></li>
    <li><a routerLink="/education">Education</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>

  <div class="social-icons">
    <a href="https://www.linkedin.com/in/krushna-ghotekar-1223a222a" target="_blank">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://github.com" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</nav>
